certifi==2024.8.30
charset-normalizer==3.4.0
environs==11.2.0
flake8==7.1.1
idna==3.10
marshmallow==3.23.1
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.2
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
requests==2.32.3
tomli==2.1.0
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.2.3
